@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    background-color: #000000;
}

.hero {
    background-image: url("/assets/imagem.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -90px;
}

header{
    background-color: #690e29;
    margin: 20px;
    border-radius: 2%;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 20px;
    align-items: center;
    padding: 10px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

li{
    color: aliceblue;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: #f8f4f4;
    text-decoration: none;
}

.mural {
  padding: 20px;
  margin-top: 30px;
}

.mural h2 {
  color: #ffffff;
  border-bottom: 3px solid #690e29;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.tabela-eventos {
  width: 100%;
  border-collapse: collapse;
}

.tabela-eventos th {
  background: #690e29;
  color: #fff;
  padding: 10px;
}

.tabela-eventos td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.aberto {
  color: green;
  font-weight: bold;
}

.breve {
  color: rgb(188, 16, 16);
  font-weight: bold;
}
.noticias {
    padding: 40px;
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    gap: 100px;
    margin-top: 30px;
}

.card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.card {
    background-color: #111;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;

    transition: 0.3s;
}

.card h3 {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: #690e29;
}

.card p {
    font-size: 14px;
}
.f1 {
    background-color: #242424;
    font-size: 20px;
     margin: 30px 0; 
    
}
.f2 { 
    
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}


.titulo_formulario {
  color: #ffffff;
  border-bottom: 3px solid #690e29;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 40px 20px;
}

form {
    width: 500px; 
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

input, 
textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #000;
    color: white;
    font-family: inherit;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.botao-enviar {
    width: 100%;             
    background-color: #690e29;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}